<p></p>
<div class= "container-fluid">
  <div class="card  shadow mb-4 ">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th> Id</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>evenement_id</th>
          <th> Photo</th>
          <th></th>
          <th>Action</th>
        </tr>
            <tbody *ngFor = "let candid of candidat">
              <tr>
                <td>{{candid.candidat_id}}</td>
                <td>{{candid.candidat_nom}}</td>
                <td >{{candid.candidat_prenom}}</td>
                <td>{{candid.event_id}}</td>

                <td> <img width="150" [src]="imageSrc(candid.candidat_photo)" alt=""> </td>
                 <!-- <td> <img width="100" [src]="'data:image/png;base64,' + candid.candidat_photo" alt=""> </td> -->


                <td><a class="btn btn-success" [routerLink]="['/voter',candid.event_id]">Voter</a></td>
              </tr>
            </tbody>
      </table>
    </div>
  </div>
</div>
