<div class="container">

<div>
  <h2>Modifier un Evenement :</h2>
</div>
<form>

      <input type="number"
          [(ngModel)]="currentEvenement.evenement_id" name="evenement_id" hidden class="form-control">
  
  <div class="col-sm-4 col-md-4 col-lg-4"> <label>Nom Evenement</label> <input type="text"
          [(ngModel)]="currentEvenement.evenement_nom" name="evenement_nom" class="form-control">
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4"> <label>Type Evenement</label>
      <select type="text"
          [(ngModel)]="currentEvenement.evenement_type" name="evenement_type" class="form-control">
          <option>Candidat</option>
          <option>Groupe</option>
      </select>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4"> <label>Date de debut</label> <input type="date"
          [ngModel]="currentEvenement.evenement_date_debut | date: 'yyyy-MM-dd'"
          (ngModelChange)="currentEvenement.evenement_date_debut= $event" name="evenement_date_debut" class="form-control">
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4"> <label>Date de fin</label> <input type="date"
          [ngModel]="currentEvenement.evenement_date_fin | date: 'yyyy-MM-dd'"
          (ngModelChange)=" currentEvenement.evenement_date_fin= $event" name="evenement_date_fin" class="form-control">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputAddress">Photo</label>
        <input #monImage type="file" (change)="onImageSelected($event)">

    </div>

    <div class="form-group col-md-6">
        <img [src]="imgUrl" height="200" width="200" *ngIf="imgUrl">

    </div>

</div>
<div class="mt-2">
      <button type="submit" (click)="updateEvenement()" class="btn btn-success">Modifier</button>
  </div>
</form>
</div>
