
<div class= "container-fluid">
  <div class="card shadow mb-4">

    <div class="card-body">

    <div class="card-body"  *ngFor = "let event of evenement" style="display: inline-block;">
      <div class="card-body">
      <td> <img width="200" [src]="imageSrc(event.evenement_photo)" alt=""> </td>
    </div>
    <div class="card-body">
      Id : {{event.evenement_id}}  <br/>
      Type: {{event.evenement_type}} <br/>
      Nom : {{event.evenement_nom}} <br/>
      Date_debut : {{event.evenement_date_debut| date:"dd/MM/yyyy"}} <br/>
      Date_fin: {{event.evenement_date_fin  | date:"dd/MM/yyyy" }} <br/>
      Participants : {{event.participant}}
    </div>
    <td><a class="btn btn-danger" (click)="supprimerEvenement(event)">Supprimer </a></td>
    <td><a class="btn btn-success" [routerLink]="['/updateEvenement',event.evenement_id]">Modifier</a></td>
    <td><a class="btn btn-info" [routerLink]="['/voter', event.evenement_id]">Voter</a></td>

  </div>

</div>
</div>

      <!-- <table class="table table-striped">
        <thead>
        <tr>
          <th> Id</th>
          <th> Type</th>
          <th>Nom</th>
          <th>Date_debut</th>
          <th>Date_fin</th>
          <th>Participants</th>
          <th></th>
          <th>Photo</th>
          <th>Action</th>
        </tr>
      </thead>
            <tbody *ngFor = "let event of evenement">
              <tr>
                <td>{{event.evenement_id}}</td>
                <td>{{event.evenement_type}}</td>
                <td>{{event.evenement_nom}}</td>
                <td>{{event.evenement_date_debut | date:"dd/MM/yyyy" }}</td>
                <td>{{event.evenement_date_fin  | date:"dd/MM/yyyy" }}</td>
                <td>{{event.participant}}</td>
                <td></td>
                <td> <img width="100" [src]="imageSrc(event.evenement_photo)" alt=""> </td> -->
                 <!-- <td> <img width="100" [src]="'data:image/png;base64,' + event.evenement_photo" alt=""> </td> -->

      <!--   <td><a class="btn btn-danger" (click)="supprimerEvenement(event)">Supprimer     </a></td>
                <td><a class="btn btn-success" [routerLink]="['/updateEvenement',event.evenement_id]">Modifier</a></td>
                <td><a class="btn btn-info" (click)="voter(event)">Voter</a></td>

              </tr>
            </tbody>
      </table>
    </div>
  </div>
</div> -->





